*.jpg
*.js
*.map
!*manual*.js
*.hl
*.lua
*.pdf
*.psd
*.py
*.url
*.jpg
links
/games/Coders Strike Back - Magusgeek
/SyncToy*
.unittest
*.ods
*.psd
*.png
contests/Spring Challenge 2020/ideas.txt
contests/Fall Challenge 2020/dest/app.hl
contests/Fall Challenge 2020/dest/app.hl
contests/Fall Challenge 2020/dest/app.hl
incoming
*.ods
.tmp
*.dat
*.bfnt
node_modules
compete - bot programming/Spring Challenge 2022/res/spider_attack/beam.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/fx_ball.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/fx_glint.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/fx_gust.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/heroes.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/HUD_background.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/main.json
