*.js
*.hl
*.lua
*.py
*.url
*.jpg
links
/games/Coders Strike Back - Magusgeek
/SyncToy*
.unittest
*.ods
*.psd
*.png
contests/Spring Challenge 2020/ideas.txt
contests/Fall Challenge 2020/dest/app.hl
contests/Fall Challenge 2020/dest/app.hl
contests/Fall Challenge 2020/dest/app.hl
incoming
*.ods
.tmp
*.dat
*.bfnt
