_GeneratedFiles.txt
!*manual*.js
!*manual*.py
.tmp
.unittest
*.bfnt
*.code-workspace
*.cpp
*.dat
*.exe
*.ffs_db
*.ffs_gui
*.h
*.hl
*.jar
*.jar
*.jpg
*.jpg
*.js
*.lua
*.map
*.ods
*.ods
*.pdf
*.png
*.psd
*.psd
*.py
*.url
/compete - clash of code/reverse/reverse.md
/games/Coders Strike Back - Magusgeek
/SyncToy*
compete - bot programming/Spring Challenge 2022/res/spider_attack/beam.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/fx_ball.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/fx_glint.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/fx_gust.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/heroes.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/HUD_background.json
compete - bot programming/Spring Challenge 2022/res/spider_attack/main.json
contests/Fall Challenge 2020/dest/app.hl
contests/Spring Challenge 2020/ideas.txt
dump
incoming
links
node_modules
solo - classic puzzle - easy/Squash Pi/bin/pi_295k_encoded.txt
